.todo-item { 
    max-width: 500px; width: 80%; margin: 20px auto ; 
    display:flex; align-items: center; justify-content: space-between;
    border: 1px solid #66D ;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #DDF;
    cursor: pointer;
    user-select: none;
}
.todo-item:hover { background: #BBD}
img { width: 20px; transition: all 0.2s ease;}
img:hover { transform: scale(1.3)}
.line-through { text-decoration: line-through;}
h1 { text-align: center;}